* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    background: #275836;
}

input {
    color: black;
    background: transparent;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    /* width: 50px; */
    margin-bottom: 10px;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

header {
    background: #eca60f;
    width: 100%;
    height: 250px;
    text-align: center;
}

#dbzImg {
    margin-top: 10px;
    width: 760px;
}

#mainContainer {
    background: #275836;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    'topBar topBar topBar'
    'controls boardContainer highScoreContainer'
    'controls boardContainer highScoreContainer'
    'controls boardContainer highScoreContainer';
}

#topBar {
    grid-area: topBar;
    text-align: center;
}

#levelDropDown, #btnNewGame , #btnScore{
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #e74c3c;
    border-bottom: 5px solid #c0392b;
}

#levelDropDown {
    padding: 3px 10px;
    margin: 5px 10px 15px 0; 
}

#btnNewGame {
    padding: 4px 10px;
    margin: 5px 0 10px 10px; 
}

.pulse {
    animation: pulse 1s infinite;
}

#controls {
    grid-area: controls;
    justify-self: center;
}


#guessesTitle {
    margin-top: 10px;
}

#boardContainer {
    grid-area: boardContainer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 5px 25px;
}

.cardInner {
    background: url('./images/frame1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    border-radius: 10px;
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    position: relative;
    width: 112px;
    height: 160px;
    transition:  0.8s;
    transform-style: preserve-3d;
}

.cardBack, .cardFront {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}

.cardBack{
    background: url('./images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.cardFront {
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center, center;
    transform: rotateY(180deg);
}

.cardFlipped {
    transform: rotateY(180deg);
}

#highScoreContainer {
    grid-area: highScoreContainer;
}

#gameOverModal, #gameWinModal {
    display: none;
    text-align: center;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: #fff;
}

#winControls {
    width: 30%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#gameOverModal img, #gameWinModal img {
    width: 30%;
    margin: 100px auto;
    z-index: 11;
    margin-bottom: 0;
}

#tbWinScore, #tbName {
    color: #fff;
}

#tbName {
    border: 1px solid #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    outline: none;
    padding: 0px 25px;
    margin-bottom: 0;
    align-self: center;

}

#btnScore {
    padding: 10px 25px;
}

@keyframes pulse {
  0%, 100% {
    background-color: #e74c3c;
  }
  50% {
    background-color: rgb(243, 167, 2);
  }
}
